/* Root */

:root {

    --clr-primary-400: hsl(96, 21%, 81%);
    --clr-primary-500: hsl(138, 6%, 45%);

    --clr-accent-200: hsl(43, 36%, 90%);

    --clr-body: var(--clr-primary-500);

    --ff-body: 'Neue Haas Grotesk Text', sans-serif;
    --ff-navbar: 'Outfit', sans-serif;
    --ff-accent: 'Domine', serif;

    --fw-light: 300;
    --fw-regular: 400;
    --fw-semibold: 600;
    --fw-bold: 700;

    --fs-body: 1.25rem;
    --fs-title: 2.125rem;
    --fs-subtitle: 1.75rem;
    --fs-big: 2.5rem;
}

/* Reset */

/* 1. Use a more-intuitive box-sizing model.*/

*, *::before, *::after {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* 2. Remove default margin */

* {
    margin: 0;
}

/* 3. Allow percentage-based heights in the application */

html, body {
    height: 100%;
}

/* 4. Add accessible line-height */
/* 5. Improve text rendering */

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

/* 7. Remove built-in form typography styles */

input, button, textarea, select {
    font: inherit;
}

/* 8. Avoid text overflows */

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* 9. Create a root stacking context */
#root, #__next {
    isolation: isolate;
}

/* General styles */

body {
    font-family: var(--ff-body);
    font-weight: var(--fw-regular);
    font-size: var(--fs-body);
    background-color: var(--clr-accent-200);
    color: var(--clr-primary-500);
    overflow: hidden;
}

a {
    font-family: var(--ff-navbar);
    font-weight: var(--fw-regular);
    font-size: var(--fs-body);
    color: var(--clr-primary-500);
}

.navbar {
    display: flex;
    flex-grow: 1;
    gap: 2rem;
    justify-content: space-between;
    padding: 15px 2%;
    align-items: center;
}

.logo {
    width: 35px;
    height: 35px;
}

.navlinks {
    display: none;
}

@media screen and
(min-width: 40em) {
    .navbar__toggle {
        display: none;
    }

    .navlinks {
        display: inline-block;
    }

    .navbar__settings {
        display: inline-flex;
        gap: .5rem;
    }

    .navlinks ul {
        display: flex;
        gap: clamp(1rem, 4.5vw, 10rem);
    }
}

.carousel {
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
  }
  
  .slides {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
  }
  
  .slides-item {
    scroll-snap-align: start;
    align-items: center;
    border-radius: 10px;
    display: flex;
    flex-shrink: 0;
    font-size: 100px;
    justify-content: center;
    margin: 0 1rem;
    position: relative;
    transform: scale(1);
    transform-origin: center center;
    transition: transform .5s;
    width: 100vw;
    aspect-ratio: 3/1;
  }
  
  .carousel__nav {
    padding: 1.25rem .5rem;
  }
  
  .slider-nav {
    align-items: center;
    background-color: #ddd;
    border-radius: 50%;
    color: #000;
    display: inline-flex;
    height: 1.5rem;
    justify-content: center;
    padding: .5rem;
    position: relative;
    text-decoration: none;
    width: 1.5rem;
  }
  
  .slider-nav:hover,
  .slider-nav:active {
    background-color: #000;
    color: #fff;
  }
  
  .slide-1 {
    background-color: #fdc;
  }
  
  .slide-2 {
    background-color: #bfd;
  }
  
  .slide-3 {
    background-color: #cdf;
  }
  
  .slide-4 {
    background-color: #dca;
  }
  
  .slide-5 {
    background-color: #ffc;
  }

  .slides {
    scrollbar-width: none;
  }

  .slides::-webkit-scrollbar {
    display: none;
  }

  