/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* Root */

:root {

    --clr-primary-400: hsl(94, 22%, 81%);
    --clr-primary-500: hsl(138, 6%, 45%);

    --clr-accent-200: hsl(43, 36%, 90%);

    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-neutral-800: hsl(225, 6%, 13%);
    --clr-neutral-900: rgb(0, 0%, 0%);

    --clr-body: var(--clr-primary-500);

    --ff-body: 'Neue Haas Grotesk Text', sans-serif;
    --ff-navbar: 'Outfit', sans-serif;
    --ff-accent: 'Domine', serif;

    --fw-light: 300;
    --fw-regular: 400;
    --fw-semibold: 600;
    --fw-bold: 700;

    --fs-body: 1.25rem;
    --fs-title: 2.125rem;
    --fs-subtitle: 1.75rem;
    --fs-big: 2.5rem;
    --fs-rights: 0.75rem;
}

/* Reset */

/* 1. Use a more-intuitive box-sizing model.*/

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* 2. Remove default margin */

* {
    margin: 0;
}

/* 3. Allow percentage-based heights in the application */

html,
body {
    height: 100%;
}

/* 4. Add accessible line-height */
/* 5. Improve text rendering */

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 7. Remove built-in form typography styles */

input,
button,
textarea,
select,
a {
    font: inherit;
}

/* 8. Avoid text overflows */

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 9. Create a root stacking context */
#root,
#__next {
    isolation: isolate;
}

/* General styles */

body {
    font-family: var(--ff-body);
    font-weight: var(--fw-regular);
    font-size: var(--fs-body);
    overflow: scroll;
}

body.light {
    background-color: var(--clr-accent-200);
    color: var(--clr-neutral-900);
}

body.dark {
    background-color: var(--clr-neutral-800);
    color: var(--clr-neutral-100);
}

a {
    font-family: var(--ff-navbar);
    font-weight: var(--fw-regular);
    font-size: var(--fs-body);
    color: inherit;
}

h1,
h2 {
    font-weight: var(--fw-bold);
    font-size: var(--fs-title);
}

h2 {
    font-size: var(--fs-subtitle);
}

.center {
    text-align: center;
    margin-bottom: 2rem;
}

strong {
    font-weight: var(--fw-bold);
}

/* Header */

.navbar {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 3rem;
    width: 100%;
}

.nav-container {
    -webkit-padding-start: 0;
            padding-inline-start: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 2rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.logo {
    width: 100px;
    height: 100px;
}

li {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

ul {
    gap: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

a {
    font-family: var(--ff-navbar);
}

.hamburger-container {
    display: none;
}

.lang,
.mode {
    width: 30px;
    height: 30px;
    border: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent;
    background-size: contain;
    cursor: pointer;
}

.lang {
    background-image: url(images/lang.png);
}

.mode {
    background-image: url(images/dark-mode.png);
}

.lang-light {
    background-image: url(images/lang.png);
}

.lang-dark {
    background-image: url(images/lang-dark.png);
}

.lune {
    background-image: url(images/dark-mode.png);
}

.soleil {
    background-image: url(images/sun.png);
}

.lang span,
.mode span {
    display: none;
}

#droits{
    font-size: 60%;
    font-size: var(--fs-rights);
}

.icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
}

.hamburger-container .checkbox {
    opacity: 0;
    position: absolute;
}

.hamburger-container .checkbox:focus~.hamburger {
    outline: 2px solid white;
    outline: auto;
    outline-offset: 4px;
}

@supports selector(:focus-visible) {
    .hamburger-container .checkbox:not(:focus-visible)~.hamburger {
        outline: none;
    }
}

.hamburger {
    width: 32px;
    height: 32px;
    position: relative;
    display: block;
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    -o-transition: transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    z-index: 1;
    cursor: pointer;
    padding-top: 5px;
}

.hamburger .slice {
    display: block;
    width: 100%;
    height: 2px;
    background-color: black;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.hamburger .slice:not(:first-child) {
    margin-top: 10px;
}

.hamburger-container .checkbox:checked~.hamburger .slice:nth-child(1) {
    -webkit-transform: translateY(12px) rotate(45deg);
        -ms-transform: translateY(12px) rotate(45deg);
            transform: translateY(12px) rotate(45deg);
}

.hamburger-container .checkbox:checked~.hamburger .slice:nth-child(2) {
    opacity: 0;
}

.hamburger-container .checkbox:checked~.hamburger .slice:nth-child(3) {
    -webkit-transform: translateY(-12px) rotate(-45deg);
        -ms-transform: translateY(-12px) rotate(-45deg);
            transform: translateY(-12px) rotate(-45deg);
}

@media screen and (max-width: 43em) {
    .navbar {
        padding: 0 3rem;
    }

    .hamburger-container {
        display: block;
        z-index: 101;
    }

    .menu-items {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: none;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        background-color: #ffe7a5;
        z-index: 100;
    }

    .mobile-menu {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
    }

    ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
}

/* Resume */

.resume {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.container-flex-resume {
    max-width: 1500px;
    width: 90%;
    background-color: var(--clr-primary-400);
    padding: 3rem;
    padding-bottom: 7rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1rem;
    position: relative;
}

.container-flex-resume > * {
    text-align: justify;
    -moz-text-align-last: center;
         text-align-last: center;
}

.container-flex-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 1rem;
    width: 80%;
    max-width: 1000px;
    text-align: center;
    -webkit-transform: translateY(-5rem);
        -ms-transform: translateY(-5rem);
            transform: translateY(-5rem);
}

.container-icons {
    background-color: var(--clr-primary-500);
    padding: 1rem 5rem;
}

.icon-resume {
    width: 8rem;
}

@media screen and (max-width: 900px) {
    .container-icons {
        padding: 1rem 3rem;
    }
}

@media screen and (max-width: 676px) {
    .container-icons {
        padding: 1rem 2rem;
    }

    .title-resume {
        font-size: 1.5rem;
    }

    .paragraph-resume {
        font-size: .9rem;
    }

    .container-flex-icons {
        -webkit-transform: translateY(-2rem);
            -ms-transform: translateY(-2rem);
                transform: translateY(-2rem);
    }

    .container-flex-resume {
        padding-bottom: 3rem;
    }
}

/* Footer */

footer{
    width: 100%;
    margin: 1rem 0;
}

.footer-container {
    margin: 0px 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

#nom_footer{
    font-size: var(--fs-body);
}

#droits{
    font-size: var(--fs-rights);
}

/* Footer */

footer{
    width: 100%;
}

.footer-container {
    margin: 2rem 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

#nom_footer{
    font-size: var(--fs-body);
}

#droits{
    font-size: 60%;
    font-size: var(--fs-rights);
}

/* Nouveautées */

#images {
    display: -ms-grid;
    display: grid;
    gap: 1rem;
    -ms-grid-columns: 1fr 1rem 1fr;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 1rem;
}

iframe {
    width: 100%;
    height: 50vh;
}

@media screen and (max-width: 43em) {
    #images {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
}

/* Article */

.grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 3rem 1fr 3rem 1fr 3rem 1fr 3rem 1fr;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 3rem;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 3rem;
}

.article-text {
    text-align: justify;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1rem;
}

#article-text-1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    -ms-grid-row: 1;
    grid-row: 1;
}

.article-img {
    height: 250px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
    border: solid white 5px;
    border-radius: 2rem;
}

#article-img-1 {
    -ms-grid-column: 4;
    -ms-grid-column-span: 2;
    grid-column: 4/6;
    -ms-grid-row: 1;
    grid-row: 1;
}

#article-img-2 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 2;
    grid-row: 2;
}

#article-text-2 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 3;
    grid-column: 3/6;
    -ms-grid-row: 2;
    grid-row: 2;
}

#article-img-3 {
    -ms-grid-column: 4;
    -ms-grid-column-span: 2;
    grid-column: 4/6;
    -ms-grid-row: 3;
    grid-row: 3;
}

#article-text-3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    -ms-grid-row: 3;
    grid-row: 3;
}

@media screen and (max-width: 65em) {
    .grid {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
}

/* Type */

.type {
    display: -ms-grid;
    display: grid;
    padding: 1rem 0;
    max-width: 1500px;
    margin: 3rem auto;
    padding: 0 3rem;
}

.type-title {
    text-align: center;
}

.type-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1rem;
}

.type-paragraph {
    text-align: justify;
}

.type-article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1rem;
}

/* Map */

.map {
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    margin: 2rem 1rem;
}

/* Courses */

.recherche{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 3rem auto;
    max-width: 900px;
}

#barre{
    width: 20rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 24px;
    width: auto;
    height: 48px;
    margin-right: 30px;
}

#loupe{
    margin-left: 11px;
    margin-top: 9px;
    position: absolute;
}

.text{
    border: 1px solid gray;
    border-radius: 24px;
    width: 500px;
    padding-left: 50px;
}

.text:focus{
    outline-color: #238fb9;
}


#bouton-ajout{
    border-radius: 24px;
    border: none;
    width: 250px;
    background-color: #238fb9;
    color: #FFFFFF;
    padding: 0.5rem 0rem;
    text-align: center;
}

.nom_course{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #4C62D7;
    margin-bottom: 0rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0.5rem 0;
}

.types-course {
    display: -ms-grid;
    display: grid;
    gap: 1rem;
    -ms-grid-columns: 0.5fr 1rem 0.5fr 1rem 0.5fr;
    grid-template-columns: repeat(3, 0.5fr);
    margin: 0rem 10rem;
    min-width: 800px;
}

#courses{
    margin-bottom: 3rem;
}

.info-course{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0rem 1rem 1rem 1rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.une_course{
    border: 3px solid;
    border-color: transparent;
    border-left-width: 5px;
    border-right-width: 5px;
}

.grille{
    background-color: var(--clr-primary-400);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-radius: 2rem;
}

.cercle {
    width: 20px;
    height: 20px;
    border-radius: 10px;
}

.facile {
    background: #96BF48;
}

.moyen {
    background: #fee460;
}

.difficile {
    background: #ff6363;
}

.lien-course{
    color: #4C62D7;
    font-weight: bold;
    font-size: var(--fs-subtitle);
    margin-left: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#tableau{
    margin: 1rem 10rem;
    background-color: var(--clr-primary-400);
    border-radius: 2rem;
    min-width: 800px;
}

table{
    margin: 2rem;
}

#bas-table{
    margin-bottom: 10px;
}

td{
    width: 40rem;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1.1rem;
    padding-bottom: 0px;
}

.entete-table{
    padding-top: 10px;
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 1.2rem;
}

.droite, #droite{
    width: 5rem;
}


.lieu, #lieu{
    width: 20rem;
}

.droite{
    padding-left: 1rem;
}

#caract-invi{
    font-size: 10px;
}

#triangle{
    padding-bottom: 1rem;
    max-width: 30px;
    margin: auto;
    margin-top: -30px;
}

#droits{
    font-size: var(--fs-rights);
}

.bonhomme{
    position: relative;
}

@media screen and (max-width: 78em){
    .titre-top {
        font-size: 1.5rem;
    }

    .dif{
        font-size: 1.5rem;
    }

    .lien-course{
        font-size: 1.2rem;
    }

    .info-course > p{
        font-size: 1rem;
    }
   
    .recherche{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    #barre{
        margin: auto;
    }

    .text{
        max-width: 350px;
    }

    #lien-bouton{
        margin: auto;
        margin-top: 1rem;
        min-width: 200px;
    }
    
    .types-course{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        max-width: 350px;
        margin: auto;
        min-width: 0px;
    }

    .info-course{
        text-align: center;
        display: block;
    }

    .grille, #debutant, #intermediaire, #expert{
        max-width: 350px;
        margin: auto 1rem;
    }

    .img-pb{
        display: none;
    }

    #tableau, table{
        min-width: 0px;
    }

    #tableau{
        margin: 0 auto;
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        max-width: 358px;
    }

    .entete-table{
        font-size: 1rem;
    }

    td{
        font-size: 0.8rem;
    }

    #nom_footer{
        padding: auto;
    }

    #nom_footer > p{
        font-size: 0.8rem;
        margin: 9px auto;
    }
}

.mention_txt, .title-mention {
    padding: 3rem;
    line-height: 35px;
    text-align: justify;
}

/*Nos-conseils*/

/*Texte*/

h1 {font-weight: bold;}

.justify{
    text-align: justify;
    padding: 3rem;
    padding-bottom: 1rem;
}

.t1,.t3{text-align: left;
}

.t2{text-align: right;}

/*image*/
.img1{
    margin: auto;
    padding: 1rem 0;
}
/*search-bar*/

.contain{width: 35%;
    margin: auto;
    padding-bottom: 1.25rem;}

.carré{background-color: #f0f0f0;
    border-radius: 1.875rem;}

.container_search {
    height :6rem;
    background-position: center;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;  
    -webkit-box-align: center;  
        -ms-flex-align: center;  
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.search-bar{width: 21.875rem;
height:2.8rem ;
max-width: 43.75rem;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
border: solid 0.125rem;
border-radius:3.75rem;
-webkit-backdrop-filter: blur(0.25rem) saturate(180%);
        backdrop-filter: blur(0.25rem) saturate(180%);;}

.search-bar input{background :transparent;
-webkit-box-flex : 1;
    -ms-flex : 1;
        flex : 1;
border : 0;
outline : none;
padding:1.5rem 1.25rem;
font-size: 1.25rem;
color : black }

::-webkit-input-placeholder{
    color: black;
}

::-moz-placeholder{
    color: black;
}

:-ms-input-placeholder{
    color: black;
}

::-ms-input-placeholder{
    color: black;
}

::placeholder{
    color: black;
}

.loupe{
    width :1rem;
    height :1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.search-bar button{
    border : 0;
    border-radius :0;
    width :3.75rem;
    height : 3.75rem;
    background : #FFFFFF;
    cursor :pointer;
    background-color: transparent;
}

::-webkit-input-placeholder{font-style: italic;
}

::-moz-placeholder{font-style: italic;
}

:-ms-input-placeholder{font-style: italic;
}

::-ms-input-placeholder{font-style: italic;
}

::placeholder{font-style: italic;
}

.inscription{text-align: center;}

.inscription :hover{text-decoration: underline;}

.sign-up{color: #4C62D7;}

/*TEXTE*/
.FAQ,.bas-img,.Ecrit,.Texte-q {text-align:center;
    font-weight :bold;
    padding: 1rem;}

.Ecrit{padding: 0rem;}

.FAQ{padding-top: 1.5rem;}

.Texte-q{padding-bottom: 2rem;}

/*Question_reponse*/

.Question_reponse{display: -webkit-box;display: -ms-flexbox;display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
width: 100%;}

.carré {
    padding: 1rem;
    margin: 2rem;
}

.FAQ {
    font-family: var(--ff-accent);
    font-size: var(--fs-big);
}

.container-qr{display: -webkit-box;display: -ms-flexbox;display: flex;
width: 100%;
background-size: cover;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
margin: auto;
padding-bottom: 2rem;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;}

.but_exp{ border: 0;
    border-radius: 0;
    background: transparent;
    cursor: pointer;}

.container-q{width: 75%;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
-webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;
border-bottom :solid 1px grey;}

#texte_1,#texte_2,#texte_3{display: none;
text-align: left;
width: 75%;}

.show_1,.show_2,.show_3{display: block;}

.hide_1,.hide_2,.hide_3{display: none;}

@media screen and (max-width:65em) {
    .t2{text-align: left;}

    .contain{width: 100%;}

    .p1,.p2,.p3{text-align: left;
        padding-right: 0;
        padding-left: 0;
    }
}